@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  font-family: 'Schibsted Grotesk', sans-serif;
  height: 98vh;
  background-image: linear-gradient(#f1506b, #ffa600);
  background-repeat: no-repeat;
  background-position: center;
}

